* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

  height: auto;
  background-color: #be3144;
  position: fixed;
  top: 0;
}
.header a {
  color: white;
  text-decoration: none;
}
.menu {
  margin-right: 25px;
  padding: 16px;
  font-size: 1.5rem;
}
.menu:hover {
  background-color: #45567d;
  cursor: pointer;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #28292c;
}
.intro {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
}

.intro span {
  font-family: sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #be3144;
}
.projectsContainer {
  background-color: #45567df8;
  padding-top: 3vh;
}
img {
  width: 45vh;
  height: 40vh;
}
.projects {
  width: 100vh;
  margin-left: 15%;
  padding-top: 4vh;
}
.rowone {
  display: flex;
}
.rowtwo {
  display: flex;
}
.container {
  margin: 0 30px 30px 0;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
.container h2 {
  font-size: 1.1rem;
  font-weight: 400;
  background-color: #28292c7c;
  text-align: center;
  padding: 15px;
  color: white;
}
.projectsContainer h1 {
  text-align: center;
  color: white;
}
.line {
  width: 40%;
  margin-left: 30%;
}

.connect {
  height: 80vh;
  background-color: #303841;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about p {
  color: white;
  font-weight: 700;
  font-size: 3.5rem;
}
.about h5 {
  font-style: italic;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  text-align: center;
}
.links {
  margin-top: 7vh;
}
.links a {
  font-size: 1.4rem;
  color: white;
  padding: 20px 80px 0 0;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 400;
}

.footer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 5vh;
  background-color: #303841;
}
.footer p {
  font-weight: 300;
  font-size: 1.2rem;
}
